@model PDC.Models.PersonalDataModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>PersonalDataModel</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Male</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Male)
    </div>

    <div class="display-label">Height</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">Weight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">BodyFat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BodyFat)
    </div>

    <div class="display-label">Neck</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Neck)
    </div>

    <div class="display-label">Shoulders</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Shoulders)
    </div>

    <div class="display-label">Chest</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chest)
    </div>

    <div class="display-label">Waist</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Waist)
    </div>

    <div class="display-label">Hip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hip)
    </div>

    <div class="display-label">ThighLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThighLeft)
    </div>

    <div class="display-label">ThighRight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThighRight)
    </div>

    <div class="display-label">CalfLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CalfLeft)
    </div>

    <div class="display-label">CalfRight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CalfRight)
    </div>

    <div class="display-label">ArmsLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArmsLeft)
    </div>

    <div class="display-label">ArmsRight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArmsRight)
    </div>

    <div class="display-label">ForeArmLeft</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForeArmLeft)
    </div>

    <div class="display-label">ForeArmRight</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ForeArmRight)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
