@model IEnumerable<Lucene.Net.Index.MultiReader>

@{
    ViewBag.Title = "List1";
}

<h2>List1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaxDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasDeletions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumDeletedDocs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueTermCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermInfosIndexDivisor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasDeletions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumDeletedDocs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueTermCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermInfosIndexDivisor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
