@model SourceIndexServer.Models.SearchRequest

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SearchRequest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Term)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term)
            @Html.ValidationMessageFor(model => model.Term)
        </div>

        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
