@model DogOwner.Dog

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<fieldset>
    <legend>Dog</legend>
    <div>
        <div>
            @Html.DisplayName("Name: ")
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </div>
    </>
    <div>
        <div>
            @Html.DisplayName("OwnerName: ")
        </div>
        <div>
            <b>@Html.DisplayNameFor(model => model.Owner.Name)</b>
        </div>
    </div>
    <div>
        <div>
        </div>
        <div>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" />
        </div>
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
